@model UserDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        @if(Model.Email == null ||  Model.Email == string.Empty)
        {
            <dd class="col-sm-10">
                ---
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        }
        
        <dt class = "col-sm-2">
            User Type
        </dt>
        @if(Model.Discriminator == 'A')
        {
            <dd class="col-sm-10">
                Admin
            </dd>
        }
        else if(Model.Discriminator == 'E')
        {
            <dd class="col-sm-10">
                Employee
            </dd>
        }
        else if (Model.Discriminator == 'S')
        {
            <dd class="col-sm-10">
                Student
            </dd>
        }
        else if (Model.Discriminator == 'P')
        {
            <dd class="col-sm-10">
                Professor
            </dd>


            <dt class="col-sm-2">
                Department
            </dt>

            <dd class="col-sm-10">
                    @ViewBag.dept
            </dd>
        }
        
    </dl>
</div>
<div>
    <a href="/Account/Edit?Username=@Model.Username">Edit</a> |
    <a href="/Account/Delete?Username=@Model.Username">Remove</a> |
    

    @if(Model.Discriminator == 'P')
    {
        if (ViewBag.dept == "NA")
        {
            <a href="/UserDepartment/AssignToDepartment?UserId=@Model.Id">Assign To Department</a>
            <p style="display:inline-block"> |</p>
        }
        else
        {
            <a href="/UserDepartment/UpdateDepartment?UserId=@Model.Id">Update Department</a>
            <p style="display:inline-block"> |</p>

            <a href="/UserDepartment/DeleteDepartment?UserId=@Model.Id&Username=@Model.Username">Reset Department</a>
            <p style="display:inline-block"> |</p>

        }
    }

    <a asp-action="Index">Back to List</a>
</div>
    